.background {
  background: center no-repeat url("https://miloncorporation.000webhostapp.com/milon/mov/chromecast/chromecast_background.jpg");
}

.logo {
  background-image: url("https://miloncorporation.000webhostapp.com/milon/mov/chromecast/icon.png");
}

.progressBar {
  background-color: rgb(255, 128, 128);
}

.splash {
  background-image: url("https://miloncorporation.000webhostapp.com/milon/mov/chromecast/chromecast_splash.png");
}

.watermark {
  background-image: url("https://miloncorporation.000webhostapp.com/milon/mov/chromecast/icon.png');
  background-size: 57px 57px;
}
