.background {
  background: center no-repeat url("https://bhasha.lk/apps/mobitv/resources/images/bg.jpg");
}

.logo {
  background-image: url("https://bhasha.lk/images/products/icons/lk.bhasha.mobitv.png");
  object-fit: contain;
}

.splash {
  background-image: url("https://bhasha.lk/images/products/icons/lk.bhasha.mobitv.png");
  object-fit: contain;
}
