<span style="font-family:arial,helvetica,sans-serif;"><span style="color:#000000;">.background {
  background: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
}</span>
.logo {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
}
.progressBar {
  background-color: rgb(155, 255, 100);
}
.splash {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
}
.watermark {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
  background-size: 57px 57px;
}
 
 </span>
