.background {
  background: center no-repeat url(facebook_cover_mobile.jpg);
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: rgb(72, 00, 66);
}

.splash {
  background-image: url(https://drive.google.com/file/d/1T5a5e3EbGQydQ7oHjai51ZGwGmIJjClr/view?usp=sharing);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}