.background {
  background: center no-repeat url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
}

.logo {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
}

.progressBar {
  background-color: rgb(72, 00, 66);
}

.splash {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
}

.watermark {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/facebook_cover_mobile.jpg");
  background-size: 57px 57px;
}
