.background {
  background: center no-repeat url("https://raw.githubusercontent.com/MichelNassour/Mov/master/chromecast_background.jpg");
  background-size:cover;
}

.logo {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/chromecast_icon.png");
}

.progressBar {
  background-color: rgb(255, 128, 128);
}

.splash {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/chromecast_splash.png");
}

.watermark {
  background-image: url("https://raw.githubusercontent.com/MichelNassour/Mov/master/chromecast_icon.png");
  background-size: 57px 57px;
}
